/* Application wide styles */

/*.label {*/
    /*-fx-font-size: 12px;*/
    /*-fx-font-weight: bold;*/
    /*-fx-text-fill: #333333;*/
    /*-fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );*/
/*}*/
.background {
    -fx-background-color: #1d1d1d;
}

/*.button {*/
    /*-fx-text-fill: white;*/
    /*-fx-font-family: "Arial Narrow";*/
    /*-fx-font-weight: bold;*/
    /*-fx-background-color: #0d6ab1;*/
    /*-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );*/
/*}*/

/*.button:hover{*/
    /*-fx-base: #25ae59;*/
/*}*/

.button {
    -fx-padding: 5 22 5 22;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #0d6ab1;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.button:hover {
    -fx-background-color: #3a3a3a;
}

.button:pressed, .button:default:hover:pressed {
    -fx-background-color: white;
    -fx-text-fill: #000;
}

.button:focused {
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

/* Component specific styles */




/*.hello-message {*/
    /*-fx-text-fill: #AA0000;*/
    /*-fx-font-weight: bold;*/
    /*-fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );*/
/*}*/

